.idea/
.gradle
/libs/
/apps/*/build/
/apps/*/out/
/connectors/*/build/
/connectors/*/out/
/udf/*/build/
/udf/*/out/
/buildSrc/build/
/build/
/apps/build/
/deploy/dev/flink/out/
/deploy/scripts/flink/out/
/deploy/scripts/sls_ping_test.py
/deploy/scripts/sql-client-init.sql
/deploy/mixin/vendor/
/deploy/mixin/out/
/mixin/vendor/
/mixin/vendor
/deploy/data/grafana/
/deploy/data/tsdb/
/deploy/data
/deploy/mq/nohup.out
