.idea/
.gradle
/libs/
/apps/*/build/
/apps/*/out/
/connectors/*/build/
/connectors/*/out/
/udf/*/build/
/udf/*/out/
/buildSrc/build/
/build/
/apps/build/
/deploy/libs/
/jb/vendor/
/jb/jsonnetfile.lock.json
/jb/out/
/mixin/vendor/
/mixin/out/
/mixin/prometheus_alerts.yaml
/mixin/prometheus_rules.yaml
